settings/*
SYS/EWARM/settings/*
SYS/EWARM/Debug/*
SYS/EWARM/Release/*
SYS/EWARM/XB_Debug/*
SYS/EWARM/XB_Release/*
SYS/EWARM/link_sys.dep
SYS/EWARM/link_sys.ewd
SYS/EWARM/link_sys.ewt
SYS/EWARM/EW*.tmp

BL1/EWARM/settings/*
BL1/EWARM/Debug/*
BL1/EWARM/Release/*
BL1/EWARM/XB_Debug/*
BL1/EWARM/XB_Release/*
BL1/EWARM/link_BL1.dep
BL1/EWARM/link_BL1.ewd
BL1/EWARM/link_BL1.ewt
BL1/EWARM/EW*.tmp

BL0/EWARM/settings/*
BL0/EWARM/Debug/*
BL0/EWARM/Release/*
BL0/EWARM/XB_Debug/*
BL0/EWARM/XB_Release/*
BL0/EWARM/link_BL0.dep
BL0/EWARM/link_BL0.ewd
BL0/EWARM/link_BL0.ewt
BL0/EWARM/EW*.tmp